<div class='rows'>
  <table class="table table-striped table-hover ">
    <thead>
    <tr class="warning">
      <th>gps</th>
      <th><%= @cloud_json['CurrentWeather']['lat'] %></th>
      <th><%= @cloud_json['CurrentWeather']['lon'] %></th>
    </tr>
    </thead>
    <tbody>
    <tr class="success">
      <td>1</td>
      <td>Cloud Description</td>
      <td><%= @cloud_json['CurrentWeather']['cloudtotal_pct'] %></td>
    </tr>
    <tr class="info">
      <td>2</td>
      <td>Cloud Cover</td>
      <td><%= @cloud_json['CurrentWeather']['wx_desc'] %></td>
    </tr>
    <tr class="success">
      <td>3</td>
      <td>Temperature</td>
      <td><%= @cloud_json['CurrentWeather']['temp_c'] %></td>
    </tr>
    <tr class="info">
      <td>4</td>
      <td>Windspeed</td>
      <td><%= @cloud_json['CurrentWeather']['windspd_kmh'] %></td>
    </tr>
    <tr class="success">
      <td>5</td>
      <td>Visibility</td>
      <td><%= @cloud_json['CurrentWeather']['vis_km'] %></td>
    </tr>
    </tbody>
  </table>
</div>
